@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif; 
    background-color: #fff;
    color: #434343;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-auto-columns: 371px 278px 277px;
    grid-template-rows: repeat (7, auto);
    grid-column-gap: 8px;
    grid-row-gap: 2px;
    max-width: 993px;
    margin: 0px 0px 0px 49px;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
}
header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: 2px solid #b0e0ea;
    color: #9f9c9c;
    padding-top:5px;
    padding-bottom: 4px;
}
header > .logo > a > i {
    color:#50c6db;
    font-size: 1.86em;
    padding-top: 14px;
    padding-left: 0px;
}
header > button {
    align-self: center;
    height: 2em;
    font-size: 0.75em;
    background-color: #51bb7b;
    color: #fff;
    padding: 5px 21px;
    border-radius: 25px;
    border-style: none;
}

header > button:focus {
    background-color: rgba(39, 129, 74, 0.9);
    }

.hero{
        grid-column: 1/2;
        grid-row: 2/3;
    padding: 10px 0px 11px 0px;
}
.hero > img{
    width: 100%;
}
.sitebar {
    grid-column: 1/2;
    grid-row: 3/5;
    border-top: 3px solid #693f7e;
    background-color: #f9f9f6;
    padding-top: 1.5em;
    padding-left:1em;
}
h4 {
    font-size: 0.99em;
    padding-top: 3px;
}
.sitebar ul {
    padding-top: 0.55em;
    list-style-type: none; 
}
.sitebar li {
    font-size: 0.7em;
    letter-spacing: -0.1em;
    margin: .5em 0;
}
/*.sitebar a {
    font-size: .75em;
}*/
main {
    grid-column: 2/4;
    grid-row: 2/4;
    padding-bottom: 1em;
}
main h1 {
   color:#50c6db; 
    font-weight: 700;
    font-size: 1.65em;
    margin-top: .4em;
    
}
main p {
   margin: 0.55em 0;
    padding-top: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    color: #453f3f; 
}

.help {
    display: flex;
    justify-content: flex-start;
    grid-column: 2/4;
    grid-row: 4/5;
    border: 1.5px solid #d9d9d9;
    padding: 0.8em;
    margin-top: 3.5em;
}
.help-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.item2 {
    margin-left: 0.82em;
}
.item3 {
    margin-left: 0.8em;
}
.help-item h3{
    font-size: 0.97em;
    font-weight: 500;
}
.help-item p{
    margin: 0.75em 0;
    font-size: .65em;
}

.help-item button {
    border: 2px solid #50c6db;
    padding: 0.38em 0.33em 0.32em 0.26em;
    color: #50c6db;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
}
.gallery {
    display: grid;
    grid-column: 1/3;
    grid-row: 5/7;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 0.8em;
    margin-top: 0.8em;
}
.gallery img {
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 7px;
}
nav ul li {
    margin: 20px 7px;
    font-size: 0.8em;
}
.sitebar-related {
    grid-column: 3/4;
    grid-row: 5/7;
    padding: 0.7em 1.39em;
    font-size: 1.1em;
}
.sitebar-related h3{
    margin-bottom: .1em;
    padding-bottom: .25em;
    border-bottom: 1px solid #d9d9d9;
}
.sitebar-related ul {
    margin-left: 1.1em;
}
.sitebar-related li {
    margin-bottom: -0.3em;
}
.sitebar-related a {
    font-size: .75em;
    font-weight: 500;
    color: #838383;
    margin-left: 0.2em;
    margin-top: -0.28em;
    
}
footer {
    background-color: #9f9c9c;
    grid-column: 1/4;
    grid-row: 7/8;
    text-align: center;
    padding: 1em 0;
    margin-top: 0.4em;
}
footer h3{
    font-size: 0.97em;
    color: #fff;
    margin-bottom: .7em;
}
footer p {
    font-size: 0.6em;
    margin-bottom: 0.8em;
}
@media screen and (max-width: 768px) {
    .container {
        grid-template-rows: repeat (7, 1fr); 
    }
    header {
        display: flex;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .hero {
        display: none;
    }
    .sitebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/4;
        grid-row: 2/4;
        justify-content: flex-start; 
        border-top: none;  
    }
    
    .sitebar ul{
        display: flex;
        margin-top: 1em;
    }
    
    .sitebar li{
        margin-left: 20px;
        
    }
    main{
        grid-column: 1/4;
        grid-row: 4/5;
    }
    main h1 {
        text-align: center;
    }
    .help {
        grid-column: 1/4;
        grid-row: 5/6;
    }
    .help p {
        padding: .2em;
    }
    .gallery{
       grid-column: 1/4;
        grid-row: 6/7;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
    .gallery img {
    width: 100%;
    }
    .sitebar-related {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/4;
        grid-row: 7/8;
    }
    .sitebar-related ul {
        display: flex;
        justify-content: space-between;
    }
    .sitebar-related li{
        margin-left: 2em;
    }
    .sitebar-related li::before{
        margin: -10px;
    }
    footer{
        grid-column: 1/4;
        grid-row: 8/9;
    }
    footer p{
        font-size: 12px;
    }
}